.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color : rgb(44, 44, 104); 
  padding: 10px;
  height : 800px;
}

body{
  background-color : rgb(44, 44, 104); 
}
.child {
  display: inline-block;
  font-family: "Open Sans", Arial;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  background: #3794fe;
  padding: 20px;
  margin: 12px;
}

.child:first-child {
  width: 100%;
  height : 30%;
}

.child:not(:first-child) {
  flex: 1;
}

#one {
  background-color : rgb(69, 69, 150); 
}

#pic2 {
  background-color : rgb(88, 88, 88); 
  height : 200px;
  width : 200px;
  border-radius : 50%;
}

#pic2:hover {
    background : url(https://lh3.googleusercontent.com/pw/AM-JKLUvv-xCOK9D1tS5KIhpfJwL417QrMq_4rQw4yYnK29Ka6AAkmdzc9dBwsnO127gaImY0sRWreszOBACI6d_996l99jGC-KkkPNe_oTuDjMNUfSjGyvTXE-ofemudW10xpW61c2sS2ACufRMzatbOvw=w960-h1280-no?authuser=0);
    background-position: center;
    background-size : 105%;
    box-shadow: -12px 12px 2px 1px  rgb(44, 44, 104); 
}

#second {
  background-color : rgb(32, 75, 78); 
  height : 70%;
  color : rgba(204, 173, 0, 0);
  
}

#second:hover {
  color : white;
  background-color : rgb(69, 69, 150); 
}

#third {
  background-color: rgba(204, 173, 0, 0.966); 
  height : 70%;
  color : rgba(204, 173, 0, 0);

}

#third:hover {
  color : white;
  background-color : rgb(69, 69, 150); 
}

#fourth {
  background-color : rgb(62, 102, 68); 
  height : 70%;
  color : rgba(204, 173, 0, 0);
}

#fourth:hover {
  color : white;
  background-color : rgb(69, 69, 150); 
}

#persInfo{
  padding-bottom : 50px;
}
h1 {
    margin-top : -100px;
}

h2 {
  font-family: fantasy;    }
